In [2]:
import numpy as np
import pandas as pd

In [3]:
data=pd.Series(np.random.randn(9),index=[
    ['a','a','a','b','b','c','c','d','d'],
    [1,2,3,1,3,1,2,2,3]
])

In [4]:
data

a  1    0.302343
   2   -0.247178
   3    0.915256
b  1    0.383245
   3   -1.082797
c  1   -0.212644
   2   -1.678298
d  2   -1.073515
   3    2.350983
dtype: float64

In [5]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 2, 0, 1, 1, 2]])

In [9]:
data.loc['b':'c',2:3]

b  3   -1.082797
c  2   -1.678298
dtype: float64

In [10]:
frame=pd.DataFrame(
    np.arange(12).reshape((4,3)),
    index=[['a','a','b','b'],[1,2,1,2]],
    columns=[
        ['kirito','kirito','asuna'],
        ['green','red','blue']
    ]
)

In [11]:
frame

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="2" halign="left">kirito</th>
      <th>asuna</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th>green</th>
      <th>red</th>
      <th>blue</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">a</th>
      <th>1</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">b</th>
      <th>1</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
frame.index.names=['key1','key2']
frame.columns.names=['name','color']

In [13]:
frame

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th colspan="2" halign="left">kirito</th>
      <th>asuna</th>
    </tr>
    <tr>
      <th></th>
      <th>color</th>
      <th>green</th>
      <th>red</th>
      <th>blue</th>
    </tr>
    <tr>
      <th>key1</th>
      <th>key2</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">a</th>
      <th>1</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">b</th>
      <th>1</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
frame.swaplevel('key1','key2')

KeyError: 'Level name not found'